* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('fundo3.jpg');
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  color: white;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

h2 {
  text-align: center;
}

section {
  margin: 10px;
  margin-left: 0;
}

#evaluation-form , #form-data {
  display: flex;
  width: 675px;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.655);
  padding: 10px;
  border-radius: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}

hr {
  width: 100%;
}

#radio {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  justify-content: space-between;
  /* margin: 3px; */
}

#lineOne {
  flex-direction: column;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

div.name {
  width: 100%;
  margin-bottom: 5px;
}

footer {
  position: static;
  bottom: 0;
  padding: 20px;
  background-color: rgb(50, 167, 145);
  width: 100%;
  text-align: center;
}

button {
  padding: 5px;
  border-radius: 5px;
  background-color: purple;
  color: white;
  border-color: purple;
}

#submit-btn {
  margin: 5px 0;
}

#submit-btn:disabled {
  background-color: rgb(182, 144, 182);
}

#login {
  margin: 0 5px;
}

header input {
  border-radius: 5px;
  border: 0px;
  margin: 0 3px;
}

header input::placeholder {
  padding-left: 5px;
}

main input , select {
  background-color: white;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
}

main #lineOne input {
  width: 45%;
}

main select {
  width: 39%;
}

#lineThree div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#form-data p {
  font-size: large;
  margin: 3px;
}
